[package]
name = "sieve-rs"
description = "Sieve filter interpreter for Rust"
authors = [ "Stalwart Labs <hello@stalw.art>"]
repository = "https://github.com/stalwartlabs/sieve"
homepage = "https://github.com/stalwartlabs/sieve"
license = "AGPL-3.0-only"
keywords = ["sieve", "interpreter", "compiler", "email", "mail"]
categories = ["email", "compilers"]
readme = "README.md"
version = "0.2.0"
edition = "2021"

[lib]
name = "sieve"

[dependencies]
mail-parser = { version = "0.8", git = "https://github.com/stalwartlabs/mail-parser", features = ["ludicrous_mode", "full_encoding"] }
mail-builder = { version = "0.2.4", git = "https://github.com/stalwartlabs/mail-builder", features = ["ludicrous_mode"] } 
phf = { version = "0.11", features = ["macros"] }
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3.3"
ahash = { version = "0.8.0" }
regex = "1.6.0"
gethostname = "0.4.0"
[dev-dependencies]
serde_json = "1.0"
